<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <div class="form-group">
        Search: <input class="form-control" ng-model="$ctrl.query" />
      </div>
      <div class="form-group">
        Sort by:
        <select ng-model="$ctrl.orderProp">
          <option value="name">Alphabetical</option>
          <option value="age">Newest</option>
        </select>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <table class="table table-condensed">
        <tr>
          <th ng-repeat="forecast in $ctrl.forecasts | filter: $ctrl.query | orderBy: $ctrl.orderProp">
            {{forecast.date}}
          </th>
        </tr>
        <tr>
          <td ng-repeat="forecast in $ctrl.forecasts | filter: $ctrl.query | orderBy: $ctrl.orderProp">
            <a href="#/days/{{forecast.date_epoch}}">
              <img ng-src="{{forecast.day.condition.icon}}" alt="{{forecast.day.condition.text}}"><br>
              {{forecast.day.condition.text}}
              <h4>
                {{(forecast.day.avgtemp_f > 0) ? '+' : ''}}
                {{forecast.day.avgtemp_f}}
              </h4>
            </a>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
